/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply Poppins font to all text in the app */
body, html, #root {
  font-family: 'Poppins', sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.centered {
  text-align: center;
  margin-top: 50px; /* Add margin to create space between components */
  margin-left: 50px;
  padding: 0 20px; /* Add padding to prevent content from being pushed off-center */
  box-sizing: border-box; /* Include padding in the element's total width */
  width: 100%; /* Ensure the centered content takes up the full width */
  max-width: 600px; /* Limit the width of the content */
}

.collapsible-container {
  margin-top: 20px; /* Add space between the Password Generator and Collapsible List */
}