name: Automated npm update

on: 
  schedule: 
  - cron: '0 0 * * 1'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  npm-update:
    env: 
      pr_title: '[Automated] Update NPM dependencies'

    runs-on: ubuntu-latest

    steps:
      - name: Adds random delay to stagger jobs
        run: sleep $(( RANDOM % 600 ))
        
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Node js
        uses: actions/setup-node@v4
        with:
          node-version: '20.11'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Update packages
        run: npm update

      - name: Check for changes
        id: git-check
        run: | 
          git diff --exit-code || echo "changes=true" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        if: ${{ steps.git-check.outputs.changes == 'true' }}
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.BOT_TOKEN }}
          base: develop
          add-paths: | 
            package.json
            package-lock.json
          commit-message: Updating npm dependencies
          title: ${{ env.pr_title }}
          body: 'Automated changes by Github Actions'
          branch: automated-npm-update-${{ github.run_id }}
          delete-branch: true
